.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 10px 120px;
}

.link-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 80px;
}

.link{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 500;
    font-weight: bold;
    color: black;
}

.link:hover{
    color: #f18c33;
    text-decoration: none;
}

.link:focus {
    color: black;
    text-decoration: none;
    outline: none;
}

.dropdown{
    margin-left: 30px;
}

.dropdown-menu{
    padding: 10px;
    width: 300px;
    font-size: 15px;
    font-weight: 500;
}

.dd-img{
    padding-bottom: 4px;
    padding-right: 5px;
}



